.register{
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(56,144,138,1) 52%);
}
.lottie{
  height:400px;
}

.register input{
  background-color: transparent;
  border:0 ;
  border-bottom: 1px solid rgba(255, 255, 255, 0.784);
  color: rgb(255, 255, 255);
}

input:focus{
 outline: none !important;
 box-shadow: none !important;
 border-bottom: 1px solid rgba(255, 255, 255, 0.784) !important;
}

label , a{
  color: rgba(255, 255, 255, 0.536) !important;
}

.register h1{
  font-size: 35px;
  color: white;
  font-weight: 600;
}